<div style="padding: 20px;">
  <form>
    <div class="card">
      <div class="card-header">
        Guardar vendedor
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-sm-2">
            <h6 style="padding: 10px;">Imagen de perfil</h6>
            <div class="imagen">
              <div
                *ngIf="nuevoVendedor.idImgPerfil !== undefined && nuevoVendedor.imgPerfil !== null && !imgPerfilNueva">
                <img src="{{nuevoVendedor.imgPerfil.url}}" alt="Imagen perfil" />
              </div>
              <div
                *ngIf="(nuevoVendedor.idImgPerfil === undefined || nuevoVendedor.imgPerfil === null) && !imgPerfilNueva">
                <img src="../../assets/img/user.png" alt="Imagen perfil" />
              </div>
              <div *ngIf="imgPerfilNueva">
                <img [src]="imagenPerfil" alt="Imagen perfil" />
              </div>
              <input type="file" style="display: none;" #imageUpload accept="image/" (change)="fileChange($event)" />
              <button *ngIf="!imagenAgregada; else botonGuardar" type="button" class="btn btn-primary miboton"
                (click)="imageUpload.click()" data-toggle="tooltip" data-placement="top" title="Subir imagen">
                <i class="fa fa-camera" aria-hidden="true"></i>
              </button>
            </div>
          </div>

          <div class="col-sm-5">
            <mat-form-field class="example-full-width" style="width: 100%;">
              <input matInput placeholder="Primer nombre" name="primerNombre" id="primerNombre"
                [(ngModel)]="nuevoVendedor.primerNombre" />
            </mat-form-field>
            <mat-form-field class="example-full-width" style="width: 100%;">
              <input matInput placeholder="Primer apellido" name="primerApellido" id="primerApellido"
                [(ngModel)]="nuevoVendedor.primerApellido" />
            </mat-form-field>
            <mat-form-field class="example-full-width" style="width: 100%;">
              <input matInput placeholder="Identificación" name="identificacion" id="identificacion"
                [(ngModel)]="nuevoVendedor.identificacion" />
            </mat-form-field>
            <mat-form-field class="example-full-width" style="width: 100%;">
              <input matInput placeholder="Dirección" name="direccion" id="direccion"
                [(ngModel)]="nuevoVendedor.direccion" />
            </mat-form-field>
            <mat-form-field class="example-full-width" style="width: 100%;">
              <input matInput placeholder="Ciudad" name="ciudad" id="ciudad" [(ngModel)]="nuevoVendedor.ciudad" />
            </mat-form-field>
          </div>

          <div class="col-sm-5">
            <mat-form-field class="example-full-width" style="width: 100%;">
              <input matInput placeholder="Segundo nombre" name="segundoNombre" id="segundoNombre"
                [(ngModel)]="nuevoVendedor.segundoNombre" />
            </mat-form-field>
            <mat-form-field class="example-full-width" style="width: 100%;">
              <input matInput placeholder="Segundo apellido" name="segundoNombre" id="segundoApellido"
                [(ngModel)]="nuevoVendedor.segundoApellido" />
            </mat-form-field>
            <mat-form-field class="example-full-width" style="width: 100%;">
              <input matInput placeholder="Email" name="email" id="email" [(ngModel)]="nuevoVendedor.email" />
            </mat-form-field>
            <mat-form-field class="example-full-width" style="width: 100%;">
              <input matInput placeholder="Teléfono" name="telefono" id="telefono"
                [(ngModel)]="nuevoVendedor.telefono" />
            </mat-form-field>
            <mat-form-field class="example-full-width" style="width: 100%;">
              <input matInput placeholder="Departamento" name="departamento" id="departamento"
                [(ngModel)]="nuevoVendedor.departamento" />
            </mat-form-field>
          </div>
        </div>

        <div *ngIf="esEditar" class="row">
          <div class="col-sm-12">
            <h4>Comentario</h4>
            <span style="font-size: .8rem; color: grey">Debido a que es una actualización de vendedor debes dejar un
              comentario de qué y porque la estás haciendo. Recuerda que este comentario queda registrado así que debes
              ser lo más preciso que te sea posible</span>
            <mat-form-field class="example-full-width" style="width: 100%;">
              <textarea matInput placeholder="Deja tu comentario" name="comentario" id="comentario"
                [(ngModel)]="comentario"></textarea>
            </mat-form-field>
          </div>
        </div>

      </div>

      <div class="card-footer">
        <button *ngIf="!cargando" type="button" class="btn btn-outline-primary" (click)="guardar()">
          <i class="fa fa-check" aria-hidden="true"></i>
          Guardar
        </button>
        <button *ngIf="cargando" class="btn btn-primary" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Cargando...
        </button>
        <button type="button" class="btn btn-outline-danger" style="margin-right: 10px;" routerLink="/home/vendedores">
          <i class="fa fa-times" aria-hidden="true"></i>
          Cancelar
        </button>
      </div>
    </div>
  </form>
</div>