<div style="padding: 20px;">
  <form>
    <div class="card">
      <div class="card-header">
        Guardar vendedor
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-sm-2">
            <h6 style="padding: 10px;">Imagen de perfil</h6>
            <div class="imagen">
              <img [src]="imagenPerfil" alt="user" />
              <input
                type="file"
                style="display: none;"
                #imageUpload
                accept="image/"
                (change)="fileChange($event)"
              />
              <button
                *ngIf="!imagenAgregada; else botonGuardar"
                type="button"
                class="btn btn-primary miboton"
                (click)="imageUpload.click()"
                data-toggle="tooltip"
                data-placement="top"
                title="Subir imagen"
              >
                <i class="fa fa-camera" aria-hidden="true"></i>
              </button>

              <ng-template #botonGuardar>
                <button
                  type="button"
                  class="btn btn-primary miboton"
                  (click)="upload()"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Guardar"
                >
                  <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-danger boton-cancelar"
                  (click)="limpiar()"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Guardar"
                >
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </ng-template>
            </div>
          </div>

          <div class="col-sm-5">
            <mat-form-field class="example-full-width" style="width: 100%;">
              <input matInput placeholder="Primer nombre" />
            </mat-form-field>
            <mat-form-field class="example-full-width" style="width: 100%;">
              <input matInput placeholder="Primer apellido" />
            </mat-form-field>
            <mat-form-field class="example-full-width" style="width: 100%;">
              <input matInput placeholder="Identificación" />
            </mat-form-field>
            <mat-form-field class="example-full-width" style="width: 100%;">
              <input matInput placeholder="Dirección" />
            </mat-form-field>
            <mat-form-field class="example-full-width" style="width: 100%;">
              <input matInput placeholder="Ciudad" />
            </mat-form-field>
          </div>

          <div class="col-sm-5">
            <mat-form-field class="example-full-width" style="width: 100%;">
              <input matInput placeholder="Segundo nombre" />
            </mat-form-field>
            <mat-form-field class="example-full-width" style="width: 100%;">
              <input matInput placeholder="Segundo apellido" />
            </mat-form-field>
            <mat-form-field class="example-full-width" style="width: 100%;">
              <input matInput placeholder="Email" />
            </mat-form-field>
            <mat-form-field class="example-full-width" style="width: 100%;">
              <input matInput placeholder="Teléfono" />
            </mat-form-field>
            <mat-form-field class="example-full-width" style="width: 100%;">
              <input matInput placeholder="Departamento" />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button type="button" class="btn btn-outline-primary">
          <i class="fa fa-check" aria-hidden="true"></i>
          Guardar
        </button>
        <button
          type="button"
          class="btn btn-outline-danger"
          style="margin-right: 10px;"
        >
          <i class="fa fa-times" aria-hidden="true"></i>
          Cancelar
        </button>
      </div>
    </div>
  </form>
</div>
