.login{
    height: 100vh;
    width: 100vw;
    background: url('../../assets/img/background-login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
    align-items: center;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.container-login{
    height: 500px;
    width: 400px;
    background: white;
    margin: 150px;
    border-radius: .25rem;
}

.container-login .container-tittle{
    text-align: center;
    padding: 35px 0 0 0;
    color: black;
}

.login-form{
    margin: 0px 20px 0 20px;
    color: black;
}

.login-form a{
    color: black;
    margin-top: 25px;
}

.login-form button{
    margin-top: 20px;
    background: linear-gradient(90deg,#000096,#96006E);
    width: 50%;
    color: white;
    border-radius: 50px;
}

.center{
    display: flex;
    justify-content: center;
}