<div class="login">
  <div class="container-login">
    <div class="container-tittle">
      <img src="../../assets/img/TyT.ico" width="100" height="100" alt="">
      <h3>Bienvenido</h3>
    </div>
    <div class="login-form">
      <form class="example-form">
        <div *ngIf="authInvalida" class="center">
          <div class="alert-danger  alerta">
            Usuario o contraseña son incorrectas
          </div>
        </div>

        <mat-form-field class="example-full-width" style="width: 80%;">
          <input matInput placeholder="Usuario" name="user" id="user" [(ngModel)]="user.user" />
        </mat-form-field>
        <mat-form-field class="example-full-width" style="width: 80%;">
          <input type="password" matInput placeholder="contraseña" name="password" id="password"
            [(ngModel)]="user.password" />
        </mat-form-field>
        <div class="center">
          <button *ngIf="!cargando" type="input" class="btn" (click)="autenticar()">Ingresar</button>
          <button *ngIf="cargando" class="btn" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Ingresando...
          </button>
        </div>
        <div class="center">
          <a href="">¿Olvidaste tu contraseña?</a>
        </div>

      </form>

    </div>
  </div>
</div>