.detalleVendedor{
    width: 100vw;
    height: 100%;
    position: relative;
}

.info-container{
    width: 25vw;
    height: 100%;
    margin: 20px;
}

.vendedor{
    width: 100%;
    height: 100%;
}

.imagen-perfil{
    width: 150px;
    height: 150px;
    position: relative;
    top: 95px;
    
}

.imagen-perfil img{
    border: 3px solid white;
    position: relative;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.miboton{
    position: absolute;
    border-radius: 50%;
    right: 0;
    bottom: 0;
}

.boton-cancelar{
    position: absolute;
    border-radius: 50%;
    left: 0;
    bottom: 0;
}


.card-banner{
    width: 100%;
    height: 170px;
    background: url('../../../assets/img/shower.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.info-vendedor{
    text-align: center;
    margin-top: 80px;
    
}

.info-vendedor hr{
    width: 50%;
    background: grey;
}

.datos{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 1px solid grey;
    text-align: left;
}

.datos div{
    width: 50%;
}

.datos h4{
    margin: 0;
    padding: 0;
}

.datos p{
    margin: 0;
    padding: 0;
}

.card-footer{
    padding: 5px;
    text-align: center;
    font-family: cursive;
    background: #929293;
    color: white;
}

.en-detalle{
    margin: 20px 20px 20px 0;
    height: 100%;
    width: calc(75vw - 60px);
    margin-left: calc(25vw + 40px);
    position: absolute;
    top: 62px;
}

.en-detalle li{
    border-bottom: none;
    border-radius: 0;
    background: #343a40;

}

.en-detalle li a{
    color: white;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background: #96006e;
    border-radius: 0;
}
.en-detalle .card{
    border-radius: 0;
    border-color: transparent;
}

.cifras-objetivo{
    color: grey;
    font-size: 0.8em;
}

table {
    width: 100%;
    height: 100%;
}

.table-container {
    height: 400px;
    overflow: auto;
}

tr.mat-footer-row {
    font-weight: bold;
}

.mat-table-sticky {
    border-top: 1px solid #e0e0e0;
}

.spinner{
    padding: 50px;
    display: flex;
    justify-content: center;
}

