<div class="main-container">
  <div class="info-container">
    <div class="card vendedor">
      <div class="card-banner">
        <div
          style="display: flex;
        justify-content: center;"
        >
          <div class="imagen-perfil">
            <img  [src]="imagenPerfil" alt="Imagen perfil" />
            <input
              type="file"
              style="display: none;"
              #imageUpload
              accept="image/"
              (change)="fileChange($event)"
            />
            <button
              *ngIf="!imagenAgregada; else botonGuardar"
              type="button"
              class="btn btn-primary miboton"
              (click)="imageUpload.click()"
              data-toggle="tooltip"
              data-placement="top"
              title="Subir imagen"
            >
              <i class="fa fa-camera" aria-hidden="true"></i>
            </button>
            <ng-template #botonGuardar>
              <button
                type="button"
                class="btn btn-primary miboton"
                (click)="upload()"
                data-toggle="tooltip"
                data-placement="top"
                title="Guardar"
              >
                <i class="fa fa-check" aria-hidden="true"></i>
              </button>
              <button
                type="button"
                class="btn btn-danger boton-cancelar"
                (click)="limpiar()"
                data-toggle="tooltip"
                data-placement="top"
                title="Guardar"
              >
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
            </ng-template>
          </div>
        </div>
      </div>

      <div class="info-vendedor">
        <h5>
          {{ detalleVendedor.primerNombre }}
          {{ detalleVendedor.primerApellido }}
        </h5>
        <hr />
        <div class="datos">
          <div>
            <h6>Nombres</h6>
          </div>
          <div>
            <p>
              {{ detalleVendedor.primerNombre }}
              {{ detalleVendedor.segundoNombre }}
            </p>
          </div>
        </div>
        <div class="datos">
          <div>
            <h6>Apellidos</h6>
          </div>
          <div>
            <p>
              {{ detalleVendedor.primerApellido }}
              {{ detalleVendedor.segundoApellido }}
            </p>
          </div>
        </div>
        <div class="datos">
          <div>
            <h6>Identificación</h6>
          </div>
          <div>
            <p>{{ detalleVendedor.identificacion }}</p>
          </div>
        </div>
        <div class="datos">
          <div>
            <h6>Teléfono</h6>
          </div>
          <div>
            <p>{{ detalleVendedor.telefono }}</p>
          </div>
        </div>
        <div class="datos">
          <div>
            <h6>Dirección</h6>
          </div>
          <div>
            <p>{{ detalleVendedor.direccion }}</p>
          </div>
        </div>
        <div class="datos">
          <div>
            <h6>Ciudad</h6>
          </div>
          <div>
            <p>{{ detalleVendedor.ciudad }}</p>
          </div>
        </div>
        <div class="datos">
          <div>
            <h6>Departamento</h6>
          </div>
          <div>
            <p>{{ detalleVendedor.departamento }}</p>
          </div>
        </div>
        <div class="datos">
          <div>
            <h6>Email</h6>
          </div>
          <div>
            <p>{{ detalleVendedor.email }}</p>
          </div>
        </div>
        <div class="datos" style="border: none;">
          <div>
            <h6>Fecha de infreso</h6>
          </div>
          <div>
            <p>{{ detalleVendedor.fechaIngreso }}</p>
          </div>
        </div>
      </div>

      <div class="card-footer">
        Agregado por: Daniel Arboleda
      </div>
    </div>
  </div>
</div>
