<div class="main-container">
  <div class="info-container">
    <div class="card vendedor">
      <div class="card-banner">
        <div
          style="display: flex;
        justify-content: center;"
        >
          <div class="imagen-perfil">
            <div *ngIf="detalleVendedor.idImgPerfil !== null">
              <img  src="{{detalleVendedor.imgPerfil.url}}" alt="Imagen perfil" />
            </div>
            <div *ngIf="detalleVendedor.idImgPerfil === null">
              <img  src="../../assets/img/user.png" alt="Imagen perfil" />
            </div>
          </div>
        </div>
      </div>

      <div class="info-vendedor">
        
        <h5>
          {{ detalleVendedor.primerNombre }}
          {{ detalleVendedor.primerApellido }}
        </h5>

        <hr />
        <div class="datos">
          <div>
            <h6>Nombres</h6>
          </div>
          <div>
            <p>
              {{ detalleVendedor.primerNombre }}
              {{ detalleVendedor.segundoNombre }}
            </p>
          </div>
        </div>
        <div class="datos">
          <div>
            <h6>Apellidos</h6>
          </div>
          <div>
            <p>
              {{ detalleVendedor.primerApellido }}
              {{ detalleVendedor.segundoApellido }}
            </p>
          </div>
        </div>
        <div class="datos">
          <div>
            <h6>Identificación</h6>
          </div>
          <div>
            <p>{{ detalleVendedor.identificacion }}</p>
          </div>
        </div>
        <div class="datos">
          <div>
            <h6>Teléfono</h6>
          </div>
          <div>
            <p>{{ detalleVendedor.telefono }}</p>
          </div>
        </div>
        <div class="datos">
          <div>
            <h6>Dirección</h6>
          </div>
          <div>
            <p>{{ detalleVendedor.direccion }}</p>
          </div>
        </div>
        <div class="datos">
          <div>
            <h6>Ciudad</h6>
          </div>
          <div>
            <p>{{ detalleVendedor.ciudad }}</p>
          </div>
        </div>
        <div class="datos">
          <div>
            <h6>Departamento</h6>
          </div>
          <div>
            <p>{{ detalleVendedor.departamento }}</p>
          </div>
        </div>
        <div class="datos">
          <div>
            <h6>Email</h6>
          </div>
          <div>
            <p>{{ detalleVendedor.email }}</p>
          </div>
        </div>
        <div class="datos" style="border: none;">
          <div>
            <h6>Fecha de ingreso</h6>
          </div>
          <div>
            <p>{{ detalleVendedor.fechaIngreso }}</p>
          </div>
        </div>
      </div>

      <div class="text-center" style="margin-bottom: 10px;">
        <button type="button" class="btn btn-primary" (click)="editarVendedor()">
          <i class="fa fa-pencil" aria-hidden="true"></i> Editar
        </button>
      </div>

      <div class="card-footer">
        Agregado por: {{detalleVendedor.administrador.primer_nombre}} {{detalleVendedor.administrador.primer_apellido}}
      </div>
    </div>
  </div>
</div>
