<div *ngIf="cargandoVendedores" class="spinner">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="!cargandoVendedores">
  <div class="row" style="margin: 20px 20px;">
    <div class="col-sm-6">
        <div class="vendedor insertar" (click)="InsertarVendedor()">
            <div style="width: 150px; height: 150px;">
              <img src="../../assets/img/plus.png" alt="Imagen perfil" />
            </div>
            <div class="centrar">
              <div>
                <h2>Agregar nuevo vendedor</h2>
              </div>
              
            </div>
          </div>
    </div>
    

    <div *ngFor="let vendedor of vendedores" class="col-sm-6">
      <div class="vendedor">
        <div style="width: 150px; height: 150px;">
          <img src="../../assets/img/perfil.jpg" alt="Imagen perfil" />
        </div>
        <div class="info-vendedor">
          <div id="izquierda">
            <h4>{{ vendedor.primerNombre }} {{ vendedor.primerApellido }}</h4>
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="verDetalle(vendedor)"
            >
              <i class="fa fa-eye" aria-hidden="true"></i> Ver en detalle
            </button>
          </div>
          <div id="derecho">
            <h4>Identificación</h4>
            <p>{{ vendedor.identificacion }}</p>
            <button
              *ngIf="vendedor.estado == 'A'"
              type="button"
              class="btn btn-outline-danger"
            >
              <i class="fa fa-trash" aria-hidden="true"></i> Deactivar vendedor
            </button>
            <button
              *ngIf="vendedor.estado == 'I'"
              type="button"
              class="btn btn-outline-success"
            >
              <i class="fa fa-check" aria-hidden="true"></i> Activar vendedor
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
