.nav-item a {
  color: white;
}


li:hover {
  background: #96006e;
  transition: all 0.7s ease;
}


.margin-home {
  margin: 20px 20px 20px 20px;
}

table {
  width: 100%;
  height: 100%;
}

.table-container {
  height: 200px;
  overflow: auto;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.myboton{
  background: linear-gradient(90deg,#000096,#96006E);
  color: white;
}

li.dropdown:last-child .dropdown-menu {
  right: 0;
  left: auto;
  background: #343a40;
  color: white;
}

.dropdown-item:hover{
  background: #96006e;
  transition: all 0.7s ease;
  cursor: pointer;
}

.spinner{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.nav-item img{
  border-radius: 50%;
}