<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" href="#">
    <img src="../../assets/img/TyT.ico" width="40" height="40" class="d-inline-block align-top" alt="">
    <span style="color: white;">Grupo TyT</span>
  </a>
  <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="#">Vendedores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pedidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contabilidad</a>
      </li>
      
    </ul>
</nav>
<div class="margin-home">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          Perro
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          Hola puto
        </div>
        <div class="card-body">
          Perro
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 20px;">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          Hola puto
        </div>
        <div class="card-body">
          Perro
        </div>
      </div>
    </div>
  </div>
  
</div>
