<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" href="#" routerLink="./notificaciones">
    <img src="../../assets/img/TyT.ico" width="40" height="40" class="d-inline-block align-top" alt="">
    <span style="color: white;">Grupo TyT</span>
  </a>
  <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="./vendedores">Vendedores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pedidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contabilidad</a>
      </li>
      
    </ul>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
